.notification {
  position: fixed;
  box-sizing: border-box;
  width: 400px;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  border-radius: 0 0 15px 15px;
  background-color: var(--blue);
  box-shadow: 0 5px 10px rgb(0 49 255 / 5%), 0 15px 40px rgb(0 51 255 / 20%);
  transition: transform .5s ease-in-out, visibility .5s linear;
}

.notification.open {
  visibility: visible;
  transform: translateY(0px);
}

.notification.closed {
  visibility: hidden;
  transform: translateY(-200px);
}

.message-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 13px;
}

.notification .message-container p {
  color: var(--blue);
  padding: 13px;
}